<style>
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconss{
        font-size: 2rem;
        background-color: #eaeaea ;
    }
    .iconss i:hover{
        color: #087122;
    }
    .footer{
        text-align: center;
    }
    .headsss{
        font-size: 1.5rem;
        padding-top: 8px;
    }
    
</style>
<footer>
<!-- <div class="sticky-bottom"> -->
<div class="footer">
<p class="headsss">Follow us:&ensp;</p>
<div class="iconss">
<i class="fa-brands fa-instagram" ></i>
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-x-twitter"></i>
<i class="fa-brands fa-snapchat"></i>
</div>
</div>
<p class="footer">&copy; Agrimart Private Limited<br>Privacy terms </p>

<!-- </div> -->
</footer>

