
  <style>
    .btn-search{
    background-color: #087122;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #087122;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  .navbar-brand {
    font-size: 2rem;
    color: #087122;
    padding-left: 5px;
  }
  .name{
    font-size: 1.5rem;
  }
  </style>
    
    <nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top" style="background-color: #eaeaea;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-seedling"></i></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link name" href="/"><b>AgriMart</b></a>
          </div>
          <div class="navbar-nav ms-auto">
            <form class="d-flex" role="search" action="/search" method="GET">
              <input class="form-control me-2 search-inp" type="search" name="q" placeholder="Search Products" >
              <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
          </div>
          <div class="navbar-nav ms-auto">
           

            <% if(!currentUser){ %>
              <a class="nav-link " href="/user/signup"><b>Sign Up</b></a>
            <a class="nav-link" href="/user/login"><b>Login</b> </a>
            <% } %>
            <% if(currentUser){ %>
                <!-- <a class="nav-link" href="/listing/new">List Your Product</a> -->
            <a class="nav-link" href="/user/logout"><b>LogOut</b></a>
            <a class="nav-link" href="/cart"><i class="fa-solid fa-shopping-cart position-relative"></i> Cart
            <span class="position-absolute top-10 start-95 translate-middle badge rounded-pill bg-success"><% if (currentUser) { %> <%= currentUser.cart.length %> <% } else { %> 0 <% } %>
            
            </span>
          </a>
            <% } %>
           
          
          </div>
        </div>
      </div>
    </nav>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html> -->